In [2]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [8]:
# csv to dataframe
df_buses_1=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_1.csv")
df_buses_2=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_2.csv")
df_buses_3=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_3.csv")
df_buses_4=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_4.csv")
df_buses_5=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_5.csv")
df_buses_6=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_6.csv")
df_buses_7=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_7.csv")
df_buses_8=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_8.csv")
df_buses_9=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_9.csv")
df_buses_10=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 581,Super Express Non AC Seater Air Bus (2+2),10:00,18:22,08h 22m,INR 606,7 Seats available,4.1\n92,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:00,20:20,08h 20m,INR 945,23 Seats available,3.6\n123,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1210,SWIFT-HYBRID NON AC SEATER CUM SLEEPER,12:55,21:05,08h 10m,INR 740,15 Seats available,3.8\n20,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 129,SWIFT-GARUDA A/C SEATER BUS,14:15,23:05,08h 50m,INR 945,27 Seats available,4.3\n79,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,01:00,10h 00m,INR 801,19 Seats available,3.9\n15,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
1229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/digha-to-habra,Digha to Habra
1230,WBTC (CTC) KOLKATA -BOLPUR - SURI (AC-VOLVO) -...,Volvo AC Seater (2+2),14:30,18:15,03h 45m,INR 375,26 Seats available,4.0\n114,https://www.redbus.in/bus-tickets/kolkata-to-b...,Kolkata to Bolpur (West Bengal)
1231,WBTC (CTC) Habra- Barasat- Haldia - 180|16:45,Non AC Seater (2+3),16:45,20:00,03h 15m,INR 113,34 Seats available,3.6\n83,https://www.redbus.in/bus-tickets/haldia-to-ba...,Haldia to Barasat (West Bengal)
1232,WBTC (CTC) Habra- Barasat- Haldia - 180|07:10,Non AC Seater (2+3),07:10,10:45,03h 35m,INR 113,36 Seats available,3.9\n75,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Haldia
1233,SBSTC-HABRA - HALDIA - 06:50 (HALDIA) - 1509,Non AC Seater (2+3),07:50,11:25,03h 35m,INR 124,46 Seats available,,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Haldia

Data cleaning

In [10]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1198 non-null   object
 1   Bus_type         1182 non-null   object
 2   Start_time       1198 non-null   object
 3   End_time         1198 non-null   object
 4   Total_duration   1198 non-null   object
 5   Price            1197 non-null   object
 6   Seats_Available  1194 non-null   object
 7   Ratings          1198 non-null   object
 8   Route_link       1234 non-null   object
 9   Route_name       1234 non-null   object
dtypes: object(10)
memory usage: 96.5+ KB

In [12]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       606.0
1       945.0
2       740.0
3       945.0
4       801.0
        ...
1229      0.0
1230    375.0
1231    113.0
1232    113.0
1233    124.0
Name: Price, Length: 1234, dtype: float64

In [20]:
#convert Ratings to numeric
Final_df["Ratings"] = Final_df["Ratings"].astype(str)
Final_df["Ratings"] = Final_df["Ratings"].str.replace("New", "", regex=False)
Final_df["Ratings"] = Final_df["Ratings"].str.strip()
Final_df["Ratings"] = Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce').fillna(0)

In [22]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1198 non-null   object
 1   Bus_type         1182 non-null   object
 2   Start_time       1198 non-null   object
 3   End_time         1198 non-null   object
 4   Total_duration   1198 non-null   object
 5   Price            1197 non-null   float64
 6   Seats_Available  1194 non-null   object
 7   Ratings          1234 non-null   float64
 8   Route_link       1234 non-null   object
 9   Route_name       1234 non-null   object
dtypes: float64(2), object(8)
memory usage: 96.5+ KB

In [24]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [98]:
# Replace NaN in the 'Bus_type''Seats_Available' column with a default value
Final_df.loc[:, 'Bus_type'] = Final_df['Bus_type'].fillna('DefaultBusType')
Final_df.loc[:, 'Seats_Available'] = Final_df['Seats_Available'].fillna('DefaultSeats_Available')

In [100]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [102]:
# change dataframe to csv
path=r"F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

Create a mysql database

In [112]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="ALAN1@3veena",database="RED_BUS_DETAILS")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [114]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [116]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully