In [2]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [4]:
# csv to dataframe
df_buses_1=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_1.csv")
df_buses_2=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_2.csv")
df_buses_3=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_3.csv")
df_buses_4=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_4.csv")
df_buses_5=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_5.csv")
df_buses_6=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_6.csv")
df_buses_7=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_7.csv")
df_buses_8=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_8.csv")
df_buses_9=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_9.csv")
df_buses_10=pd.read_csv("F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 578,Super Express Non AC Seater Air Bus (2+2),18:00,03:15,09h 15m,INR 513,25 Seats available,3.5\n34,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
1,KSRTC (Kerala) - 72,SWIFT-GARUDA A/C SEATER BUS,19:05,04:20,09h 15m,INR 688,19 Seats available,3.6\n46,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
2,KSRTC (Kerala) - 1583,Super Express Non AC Seater Air Bus (2+2),20:00,05:15,09h 15m,INR 640,21 Seats available,3.8\n23,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
3,KSRTC (Kerala) - 2836,Super Fast Non AC Seater (2+3),20:15,05:20,09h 05m,INR 466,48 Seats available,3.4,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
4,KSRTC (Kerala) - 234,Swift Deluxe Non AC Air Bus (2+2),21:00,06:40,09h 40m,INR 620,6 Seats available,4.2\n41,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
...,...,...,...,...,...,...,...,...,...,...
1551,Satya Paribahan,A/C Executive (2+3),11:50,18:00,06h 10m,INR 280,9 Seats available,2.9,https://www.redbus.in/bus-tickets/digha-to-habra,Digha to Habra
1552,Ankita Paribahan,Non AC Seater (2+3),11:50,18:00,06h 10m,INR 350,16 Seats available,1.0\n1,https://www.redbus.in/bus-tickets/digha-to-habra,Digha to Habra
1553,WBTC (CTC) KOLKATA -BOLPUR - SURI (AC-VOLVO) -...,Volvo AC Seater (2+2),14:30,18:15,03h 45m,INR 375,16 Seats available,4.0\n114,https://www.redbus.in/bus-tickets/kolkata-to-b...,Kolkata to Bolpur (West Bengal)
1554,SBSTC-BONGAON - ASANSOL - VIA - BARASAT - 05:0...,Non AC Seater (2+3),07:00,11:00,04h 00m,INR 155,1 Seat available,4.1\n62,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Durgapur (West Bengal)
1555,SBSTC-HABRA - HALDIA - 06:50 (HALDIA) - 1509,Non AC Seater (2+3),07:50,11:25,03h 35m,INR 124,17 Seats available,3.6,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Haldia

Data cleaning

In [6]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1556 non-null   object
 1   Bus_type         1556 non-null   object
 2   Start_time       1556 non-null   object
 3   End_time         1556 non-null   object
 4   Total_duration   1556 non-null   object
 5   Price            1556 non-null   object
 6   Seats_Available  1556 non-null   object
 7   Ratings          1556 non-null   object
 8   Route_link       1556 non-null   object
 9   Route_name       1556 non-null   object
dtypes: object(10)
memory usage: 121.7+ KB

In [8]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       513.0
1       688.0
2       640.0
3       466.0
4       620.0
        ...
1551    280.0
1552    350.0
1553    375.0
1554    155.0
1555    124.0
Name: Price, Length: 1556, dtype: float64

In [10]:
#convert Ratings to numeric
Final_df["Ratings"] = Final_df["Ratings"].astype(str)
Final_df["Ratings"] = Final_df["Ratings"].str.replace("New", "", regex=False)
Final_df["Ratings"] = Final_df["Ratings"].str.strip()
Final_df["Ratings"] = Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce').fillna(0)

In [12]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1556 non-null   object
 1   Bus_type         1556 non-null   object
 2   Start_time       1556 non-null   object
 3   End_time         1556 non-null   object
 4   Total_duration   1556 non-null   object
 5   Price            1556 non-null   float64
 6   Seats_Available  1556 non-null   object
 7   Ratings          1556 non-null   float64
 8   Route_link       1556 non-null   object
 9   Route_name       1556 non-null   object
dtypes: float64(2), object(8)
memory usage: 121.7+ KB

In [14]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [16]:
# Replace NaN in the 'Bus_type' column with a default value
Final_df.loc[:, 'Bus_type'] = Final_df['Bus_type'].fillna('DefaultBusType')
Final_df.loc[:, 'Seats_Available'] = Final_df['Seats_Available'].fillna('DefaultSeats_Available')

In [18]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [20]:
# change dataframe to csv
path=r"F:/praveena/DataScience/Mini_Project/DS_REDBUS/Data-Scraping-with-Selenium-Dynamic-Filtering-using-Streamlit-main/df_buses/Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

Create a mysql database

In [22]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="ALAN1@3veena",database="RED_BUS_DETAILS")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [24]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [26]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully